<div class="row">
    <div class="col-xs-12" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @cocktail.photo.url(:header) %>')">
      <h1 class="header"><%= @cocktail.name %></h1>
    </div>
  </div>
<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <ul class="list">
      <% @cocktail.doses.each do |dose| %>
      <li class="list-item">- <%= dose.description %>s <%= dose.ingredient.name %> <%= link_to "Delete", dose_path(dose), method: :delete, :class=>'delete'%></li>
      <% end %>
      </ul>
    </div>
    <div class="col-xs-6">
      <h4 class="form-title">Add an ingredient</h4>
      <%= simple_form_for [@cocktail, @dose] do |f| %>
        <%= f.input :description, label: "Amount" %>
        <%= f.association :ingredient, collection: @ingredients.order(:name) %>
        <div class="create-button">
          <%= f.submit 'Add ingredient', class: 'button-content'  %>
        </div>
      <% end %>
    </div>
</div>
